.profile-container {
  margin-bottom: 0;
  padding-bottom: 0;
  background: transparent;
  border-bottom: none;
}

.btn {
  all: unset;
  color: black;
  border-radius: 100%;
  margin-bottom: 5px;
  box-shadow: 1px 1px black;
  cursor: pointer;
  &:hover {
    outline-style: solid;
    outline-width: 10px;
    outline-color: #696969;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
}
.beforebtn {
  background:  #1677ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  cursor: pointer;
  width: 10vw;
  padding: 12px 24px;
  /* max-width: 100px; */
  transition: all 0.2s ease;

  position: relative;
  left: 88vw;
  top: 1vw;
  &:hover {
    box-shadow: 0 4px 12px rgba(99, 102, 241, 0.3);
    background: #3388ff;
  }
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.btnflex {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 95vw;
  top: 1vw;
  gap: 10px;
}
/* .header {
  height: 8%;
  text-align: center;
  border-bottom: 2px solid #4b5563;
  background-color: #1f2937;
  color: white;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title h1 {
  font-size: 1.875rem;
  font-weight: 600;
} */

.auth-button,
.profile-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
}

.auth-button:hover,
.profile-button:hover {
  background-color: #374151;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  right: 4vw;
  top: 2.5vw;
  margin-top: 0.5rem;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 1px 2px 10px rgba(14, 14, 14, 0.849);
  color: #1f2937;
  z-index: 50;
}

.user-info {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.user-name {
  font-size: 0.875rem;
  font-weight: 500;
}

.user-email {
  font-size: 0.75rem;
  color: #6b7280;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout-button {
  position: absolute;
  bottom: 2px;
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background: none;
  border: none;
  color: #374151;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.logout-button:hover {
  background-color: #f3f4f6;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}
.line {
  border-bottom: 1px solid rgb(80, 80, 80);
}
